:host {
  display: block;
  padding: 20px;
  min-width: 900px;

  .wrapper {
    display: flex;
    flex-direction: column;
    gap: 30px;

    .form {
      display: flex;
      flex-direction: column;

      .inputs {
        display: flex;
        justify-content: center;
        gap: 3px;

        .input {
          width: 100%;
        }
      }

      .button {
        border-radius: 4px;
        background-color: rgb(63, 73, 72);
      }
    }

    .board {
      display: flex;
      justify-content: space-between;
      gap: 20px;

      .tasks {
        width: 100%;
        height: max-content;
        display: flex;
        flex-direction: column;
        justify-content: center;
        border: 2px solid rgb(63, 73, 72);
        border-radius: 4px;
        padding: 10px;

        h2 {
          text-align: center;
          padding: 10px;
          margin: 0;
        }
      }
    }
  }
}
