<h1>Task Board</h1>
<div class="wrapper">
  <form [formGroup]="taskForm" class="form">
    <div class="inputs">
      <mat-form-field class="input">
        <input matInput formControlName="title" placeholder="Заголовок"/>
      </mat-form-field>
      <mat-form-field class="input">
        <input matInput formControlName="description" placeholder="Описание" />
      </mat-form-field>
      <mat-form-field class="input">
        <input matInput formControlName="assignedTo" placeholder="Добавил" />
      </mat-form-field>
    </div>
    <button
      mat-button
      type="submit"
      class="button"
      (click)="addTask()"
      [disabled]="!taskForm.valid"
    >Добавить задачу</button>
  </form>
  <div class="board">
    <div *ngFor="let status of statuses" class="tasks">
      <h2>{{ status | titlecase }}</h2>
      <hr align="center" width="100%" size="2" color="rgb(63, 73, 72)" />
      <app-task-list
        [tasks]="filteredTasks(status)"
        (delete)="deleteTask($event)"
        (move)="moveTask($event.taskId, $event.status)"
      />
    </div>
  </div>
</div>
