<mat-card class="example-card" appearance="outlined">
  <mat-card-header>
    <mat-card-title>{{ task.title }}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p>{{ task.description }}</p>
  </mat-card-content>
  <mat-card-footer class="example-card-footer">
    <div class="actions">
      <button
        mat-button
        (click)="onMove('new')"
        *ngIf="task.status !== 'new'"
      >Отменить выполнение</button>
      <button
        mat-button
        (click)="onMove('in-progress')"
        *ngIf="task.status === 'new'"
      >Начать выполнение</button>
      <button
        mat-button
        (click)="onMove('completed')"
        *ngIf="task.status === 'in-progress'"
      >Завершить выполнение</button>
      <button
        mat-button
        (click)="onDelete()"
      >Удалить</button>
    </div>
  </mat-card-footer>
</mat-card>
