:host {
  color: aliceblue;

  .example-card {
    width: 100%;
    background-color: #3f4948;

    .example-card-footer {
      padding: 16px;

      .actions {
        display: flex;
        flex-direction: column;
        gap: 3px;

        .mat-mdc-button {
          color: #3f4948;
          width: 100%;
          border-radius: 4px;
          background-color: aqua;
        }
      }
    }
  }
}
